# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyTorch
*.pth
data/
mnist_images/

# VSCode
.vscode/
*.code-workspace

# 虚拟环境
venv/
ENV/ 